<div class="weather_form">
    <form action="/weather/result" method="get">
        <label for="">City:</label>
        <input type="text" name='city' placeholder="Please enter city name ">
        <button>Weather Check</button>
    </form>
</div>

