
<div class="add_container">
    <form action="/diggers/add" method="POST">
    <label for="">brand</label>
    <input type="text" name="brand">

    <label for="">model</label>
    <input type="text" name="model">

    <label for="">img_url</label>
    <input type="text" name="img_url" alt="img">

    <label for="">rental startdate</label>
    <input type="text" name="rental_startdate">

    <label for="">rental enddate</label>
    <input type="text" name="rental_enddate">

    <label for="">rate</label>
    <input type="text" name="rate">

    <button>Add</button>
</form>
</div>