<form action="/users" method="POST" class="users">
    <label for="">First_name:</label>
    <input type="text" name="first_name">

    <label for="">Last_name:</label>
    <input type="text" name="last_name">

    <label for="">Email:</label>
    <input type="text" name="email">

    <label for="">Mobile:</label>
    <input type="text" name="mobile">

    <label for="">Password:</label>
    <input type="password" name="password">

    <button>Sign up</button>
</form>